.kkl{
    font-size: 17px;
    text-align: left;
    font-size: 20px;
}


.sub{
    margin-top: 56px;
    font-size: 25px;
}

.sec{
    font-size: 29px;
}

.bnm{
    margin-left: 149px;
}

.bt1{

    background-color: blue;
   color: white;
}

.bg{
    background-color: azure;
}

.sd{
    color: white;
}