.kl{
    width: 1110px;
    margin-top: 46px;
    background-color: #a4e5ff;
    margin-left: 140px;
}
.kl1{
    font-size: 17px;
    width: 1110px;
    margin-top: 46px;
    margin-left: 140px;
    background-color: #a4e5ff;
    margin-bottom: 30px;
}

.bnm{
        margin-left: 149px;
}
 .bj{
    background-color: #dff5ff;
 }
 