
.jk{
    background-color: rgb(236 245 253 / 92%);
    height: 616px;
    margin-left: 0px;
    margin-right: 0;
}

.ikd{
    margin-top: 90px;
    margin-left: 90px;
}
.ike{
    margin-left: 90px;
}
.mute{
    margin-left: 93px;
    padding-top: 117px;
  font-family: 'Open Sans',CenturyGothic,sans-serif!important;
    font-weight: 300;
    font-size: 20px;
    color: #000;
    text-align: left;
    line-height: 1.2em;
    width: 29%;
    -webkit-align-self: center;
    -ms-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}


.myt{
    margin-left: 154px;
    padding-top:105px;
    font-family: Georgia,Georgia,"Times New Roman",serif;
    font-weight: 300;
    font-size: 20px;
    color: #000;
    text-align: left;
    line-height: 1.2em;
    width: 29%;
    -webkit-align-self: center;
    -ms-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}


.but {
    font-weight: bold;
    background-color: blue;
    color: white;
    font-size: 15px;
    height: 38px;
    width: 141px;
    border: -1px solid rgb(110, 114, 113);
    border-radius: 25px;
    margin-top: 21px;
    padding-top: 0px;
    margin-left: 13px;
    cursor: pointer;
}
.but1 {
    font-weight: bold;
    background-color: blue;
    color: white;
    font-size: 15px;
    height: 38px;
    width: 107px;
    border: -1px solid rgb(110, 114, 113);
    border-radius: 25px;
    margin-top: 2px;
    padding-top: 0px;
    margin-left: 91px;
    cursor: pointer;
}

.w-101 {
    width: 441px;
    margin-left: 556px;
    margin-top: -222px;
}

.sd{
    color: white;
}